<%= @post.title %>

<%= link_to 'All Posts', category_posts_path, class: 'btn btn-primary' %>

      <table class="table table.hover">
          <tr>
              <th> Post Name </th>
          </tr>
          <% @post.comments.each do |post| %>
          <tr>
              <td> <%= post.text %> </td>
              <td><%= link_to 'Edit Comment', edit_post_comment_path(@category, post), class: 'btn btn-warning' %></td>

          </tr>
          <% end %>
      </table>
