<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">WebSite Name</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/users/sign_out">Log Out</a></li>
      <li><%= button_to 'Log Out', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</nav>
